
ul {
    padding: 0;
    margin-top: 2rem;
}
.todo-row{
    background-image: url('../images/marble.jpg');
    background-size: cover;
    
    font-size: var(--fs-text);
    font-family: var(--ff-base);
    font-weight: var(--fw-text);
    color:var(--primary-clr-dark);
    
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
   
    
    min-width: 80vw;
    margin-top: 1.2em;
    padding: .8em;
    

    
    -webkit-box-shadow: 1px -20px 19px -1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 1px -20px 19px -1px rgba(0, 0, 0, 0.45);
    box-shadow: 1px -20px 19px -1px rgba(0, 0, 0, 0.45);
    border-radius: 10px;

   // margin-left: auto;
    p{
        width: 90%;
        &:hover{
            cursor: pointer;
        }
    }

    .icons{
        display: flex;
        svg{
            margin-left: 1em;
        }
    }
    
   
}
.todo-row.complete{
    filter: brightness(70%);
    text-decoration: line-through;
}

@media (min-width: 960px){
    .todo-row{
        min-width: 50vw;
    }
}